[submodule "External/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
	branch = 0.9.8
[submodule "External/glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "External/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "External/boxer"]
	path = external/boxer
	url = https://github.com/aaronmjacobs/Boxer
[submodule "external/mgcwel"]
	path = external/mgcwel
	url = https://github.com/e-bondarev/mgcwel
